---
layout: default
title: Iain Carmichael | Blog
---
<h1>Blog</h1>


<!-- original, no link posts

<ul class="posts">
  {% for post in site.posts limit:15 %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
-->

<ul class="posts">
  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a>{% if post.link %}<span class="link-arrow"> &rarr;</span>{% endif %}</a></li>
  {% endfor %}
</ul>
