<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/me.jpg" width="140px" height="196px">
                </div>
                <div class="contact">
                  Department of Statistics, UC Berkeley<br>
                  <!--<a href="https://comp-path.bwh.harvard.edu/">Division of Computational Pathology</a>, Brigham and Women's Hospital<br>
                  Harvard Medical School<br> -->
                  <!--Hanes Hall B30<br> -->
                  <br>
                  Email: <a href="mailto:iain@berkeley.edu">iain@berkeley.edu</a> <br>
                  <a href="https://statistics.berkeley.edu/people/iain-carmichael">Faculty page</a> <br>
                  GitHub: <a href="https://github.com/idc9">idc9</a> <br>
                  <a href="https://www.linkedin.com/in/iain-carmichael-aa254183/">LinkedIn</a> <br>
                  <a href="https://scholar.google.com/citations?hl=en&user=7kfVUFQAAAAJ">Google Scholar</a> <br>
                </div>
              </div>
              <br>
              <br>
              <div class="homecontent">
                <h3>Brief Bio</h3>

                I am a Neyman Visiting Assistant Professor in the Department of Statistics at UC Berkeley. Previously, I completed a postdoc in the <a href="https://faisal.ai/">Division of Computational Pathology</a> at Brigham and Women's Hospital/Harvard Medical School and a <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1902440&HistoricalAwards=false">NSF Mathematical Sciences Postdoctoral Research Fellowship</a> in the Department of Statistics at the University of Washington. I received my PhD in Statistics from the University of North Carolina at Chapel Hill.

                <br><br>
                I’m broadly interested in developing statistical/machine learning algorithms for data with a complex structure such as networks, images, and multi-view/modal data. My research aims to solve challenging computational and data analytic problems in biomedical sciences such as the analysis of very large scale medical images like <a href="https://www.pixelscientia.com/article-finding-prognostic-patterns-in-gigapixel-images.html">whole slide images</a> from Pathology. The computational arm of my work weaves together statistics/probability, optimization, deep learning, and software engineering. The scientific arm of my work investigates both basic science questions and clinical translational problems through intensive collaborations with doctors and domain scientists.

                <br><br>
                <h3>Representative work</h3>

                <ul>
                <li> Carmichael, I., Song, A.H., Chen, R.J., Williamson, D.F.K., Chen, T.Y., Mahmood, F. (2022). <a href="https://arxiv.org/pdf/2206.08885.pdf">Incorporating intratumoral heterogeneity into weakly-supervised deep learning models via variance pooling</a>. <i> The International Conference on Medical Image Computing and Computer Assisted Intervention. To appear.</i> </li><br>

                <li> Carmichael, I. (2021). <a href="https://arxiv.org/pdf/2107.03494.pdf">The folded concave Laplacian spectral penalty learns block diagonal sparsity patterns with the strong oracle property</a>. <i> Under review.</i> </li><br>

                <li> Carmichael, I., Keefe, T., Giertych, N., Williams, J.P. (2021). <a href="https://arxiv.org/abs/2110.05567">yaglm: a Python package for fitting and tuning generalized linear models that supports structured, adaptive and non-convex penalties.</li><br>

                <li> Carmichael, I., Calhoun, B.C.,  Hoadley, K.A., Troester, M.A.,  Geradts, J., Couture, H.D.,  Olsson, L,.  Perou, C.M.,  Niethammer, M.,  Hannig, J., Marron, J.S. (2021). <a href="https://projecteuclid.org/journals/annals-of-applied-statistics/volume-15/issue-4/Joint-and-individual-analysis-of-breast-cancer-histologic-images-and/10.1214/20-AOAS1433.short">Joint and individual analysis of breast cancer histologic images and genomic covariates</a>. <i>The Annals of Applied Statistics, 15(4), pp.1697-1722.</i></li><br>

                <li> Carmichael, I. (2020). <a href="https://arxiv.org/pdf/2012.15313.pdf">Learning sparsity and block diagonal structure in multi-view mixture models</a>. <i> Under review.</i></li><br>


                <li> Banerjee, S., Bhamidi, S., Carmichael, I. (2018). <a href="https://arxiv.org/abs/1808.02439">Fluctuation bounds for continuous time branching processes and nonparametric change point detection in growing networks.</a> <i> Under review.</i></li>
                </ul>

                <br><br>

              </div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
