<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/me.jpeg" width="153px" height="201px">
                </div>
                <div class="contact">
                  The Bakar Computational Health Sciences Institute, UC San Francisco<br>
                  <!--<a href="https://comp-path.bwh.harvard.edu/">Division of Computational Pathology</a>, Brigham and Women's Hospital<br>
                  Harvard Medical School<br> -->
                  <!--Hanes Hall B30<br> -->
                  <br>
                  Email: <a href="mailto:shenghuan.sun@ucsf.edu">shenghuan.sun@ucsf.edu</a> <br>
                  GitHub: <a href="https://github.com/ShenghuanSun">ShenghuanSun</a> <br>
                  <a href="https://linkedin.com/in/harry-shenghuan-sun-5627971a3">LinkedIn</a> <br>
                  <a href="https://scholar.google.com/citations?user=KGvc3jwAAAAJ&hl=en">Google Scholar</a> <br>
                </div>
              </div>
              <br>
              <br>
              <div class="homecontent">
                <h3>Brief Bio</h3>

                Hi Welcome!
                Pursuing a Ph.D. at UCSF, I am actively exploring the interface of biomedical researches and artificial intelligence for achieving precision medicine. More specifically, I am applying machine learning / deep learning approaches to large-scale medical/clinical data, especially interested in complex disease-related work, including autoimmune diseases, cancer and neurobiology diseases.


              </div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
